<!DOCTYPE html>
<html lang="en-US">
<%- include("partials/head-info"); -%>
<body>
	<%- include("partials/header"); -%>
	
	<% const display_contacts_table = (contactInfo) => { %>
		
		<% const { contactId, name, surname, username, pwd, email, home_number, cell_number, note_title, note_description, note_date } = contactInfo %>
		<tr id="<%= contactId %>">

			<td>
				<input type="checkbox" class="checkbox sub-checkBox">
			</td>
			
			<td>
				<a href="<%=` /edit/${ contactId.trim() } `%>"><i class="fa fa-pencil"></i><a/>
			</td>

			<td class="text">

				<%= name %>

			</td>
			
			<td class="text">
				<%= surname %>
			</td>
			
			<td class="text">
				<%= username %>
			</td>
			
			<td class="text" id="<%= cell_number %>">
				<%= email %>
			</td>
			
			<td class="text" id="<%= note_description %>">
				<%= note_title %>
			</td>

			<td>
				<div class="content-title-cont">
					<i class="fa fa-trash" tabindex="1"></i>
					<div class="content-title">Delete</div>
				</div>
			</td>

		</tr>
		
	<% } %>
	
	<% const display_contacts_slide = (contactInfo) => { %>
		
		<% const { contactId, name, surname, username, pwd, email, home_number, cell_number, note_title, note_description, note_date } = contactInfo %>
		<div class="post-info-cont">
			
			<div class="slide-closer" tabindex="1"> 
				<i class="fa fa-times"></i> <span> Close</span>
			</div>
			
			<div class="post-info">
				<div class="buyersMessage-cont">

					<div class="buyersMessage-title">
						<h4>Contact</h4>
					</div>

					<div class="info-message-cont">
					  <div class="buyers-info">
							<div> <i class="fa fa-user"></i> <span> <%= `${name} ${surname}` %> </span> </div>
							<div> <i class="fa fa-user"></i> <span> <%= `Username - ${username}` %> </span> </div>
							<div> <i class="fa fa-phone"></i> <span> <%= `Home number - ${home_number}` %></span> </div>
							<div> <i class="fa fa-phone"></i> <span> <%= `Cell number - ${cell_number}` %></span> </div>
							<div> <i class="fa fa-envelope"></i> <span> <%= `${email}` %>  </span> </div>
					  </div>
					</div>

				</div>
				
				<div class="post-card">

					<div class="post-details">

						<div class="post-title-cont">
							 <h4 class="post-title" id="<%= contactId %>"> Notes </h4>
						</div>

						<div class="post-descript">
							<span><%= `${note_title}` %></span>
							<p> <%= note_description %></p>
						</div>

						<div class="post-date-cont">
							<div class="post-date">
								Note Date: <span><%= note_date %></span>
							</div>
							
						</div>

					</div>
				</div>

			</div>
		</div>
	<% } %>
	
	<section id="dashboard-cont">
		<div class="dashboard-cont">
			<div class="dashboard">
				<div class="search-info-cont">
					<div class="search-engine-cont">
						
						<input type="search" placeholder="Search contacts by either name, surname or email" class="search-input" id="search-input">
						
						<button class="search-btn" id="search-btn">
							<i class="fa fa-search search-icon"></i>
						</button>
						
						
					</div>
					
					<div class="search-config-cont">
						
						<div class="advanced-search-cont">
							<div class="advanced-search" id="advanced-search">
								<i class="fa fa-cog"></i>
							</div>
							
							<div class="filter-list-cont" id="filter-list-cont">
								<ul class="filter-list">
									<li id="advanced-search-link">Advance Search</li>
								</ul>
							</div>
							
							<div class="adv-search-form-cont"> 
								<div class="adv-search-form">
									<div class="adv-search-title-cont">
										<h1>Advanced Search</h1>
									</div>
									
									<form method="GET" id="adv-search-form" class="adv-search-form-fields">
										<div class="inputField-cont">
											<input type="text" placeholder="First Name" id="first-name" class="inputField" name="First-Name">
										</div>
										
										<div class="inputField-cont">
											<input type="text" placeholder="Surname" id="surname" class="inputField" name="Surname">
										</div>
										
										<div class="inputField-cont">
											<input type="email" placeholder="Email" id="email" class="inputField" name="Email">
										</div>
										
										<div class="inputField-cont">
											<input type="tel" placeholder="Cell Number" id="tel" class="inputField" name="Cell-Number">
										</div>
										
										<div class="inputField-cont">
											<input type="text" placeholder="Note title" id="note-title" class="inputField" name="Note-title">
										</div>
										
										<div class="inputField-cont">
											<input type="text" placeholder="Note Description" id="note-description" class="inputField" name="Note-Description">
										</div>
										
										<input type="submit" value="Search" class="sub-btn" id="sub-btn">
									</form>
								</div>
							</div>
						</div>
						
						<div class="add-contact-btn">
							<a href="/add">Create Contact</a>
						</div>
						
						<!-- <div class="filter-cont">
							<div class="filter" id="filter-dropdown">
								<i class="fa fa-ellipsis-v"></i>
							</div>
							
							<div class="filter-list-cont">
								<ul class="filter-list">
									<li>Only Show Names</li>
									<li>Only Show Surnames</li>
									<li>Only Show emails</li>
								</ul>
							</div>
						</div> -->
					</div>
				</div>
				
				<div class="contacts-cont">
					<div class="contacts-table-cont">
						<div class="header-cont">
							<div class="myMessage-header">
								<h1>Messages</h1>
								<span><%= Contacts.length %></span>
							</div>

							<button class="deleteAll-cont" id="deleteAll-cont">
								<i class="fa fa-trash"></i>
								<h1>Delete Selected</h1>
								<div class="content-title" id="content-title">Delete Selected</div>
							</button>
						</div>
					
						<table id="contacts-table">
							<tr>
								<th>
									<input type="checkbox" class="checkbox" id="main-checkbox">
								</th>

								<th>
									<h5>&nbsp;</h5>
								</th>

								<th>
									<h5>Name</h5>
								</th>
								
								<th>
									<h5>Surname</h5>
								</th>
								
								<th>
									<h5>Username</h5>
								</th>
								
								<th>
									<h5>Email</h5>
								</th>
								
								<th>
									<h5>Note title</h5>
								</th>
								
								<th>
									<h5>&nbsp;</h5>
								</th>
							</tr>
							
							<% Contacts.map(display_contacts_table) %>
								
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<% if(Contacts.length > 0) { %>
	<div class="MessageDetailsInfo-cont" id="post-info-cont">
		<% Contacts.map(display_contacts_slide) %>
	</div>
	<% } %>
	
	<script src="/JS/index.js"></script>
	<script src="/JS/dashboard.js"></script>
</body>
</html>